* {
  box-sizing: border-box;
  font-family: 'Monserrat', sans-serif;
}

.all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  background-color: white;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  width: 786px;
  max-width: 100%;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  width: 50%;
}

.formContainer form {
  background-color: #fff;
  padding: 40px;
  color: #4c4b30;
  border-radius: 15px;
}

.formContainer input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.error {
  color: rgba(255, 0, 0, 0.644);
  margin-top: 5px;
  font-size: 14px;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container button {
  background-color: #4c4b30;
  color: white;
  height: 30px;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container button.hidden {
  background-color: transparent;
  border-color: white;
}

.activeButton{
  color: #4c4b30 !important;;
  background-color: #e7d535 !important;;
}


@media screen and (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
}
