.button{
    color:   #9aa35f     ;
    border-color:   #9aa35f    ;
    background-color:     #611b13 ;
margin: 0.5%;
    width: 100px;
    margin-left: 5px;
}

.button:hover{
    background-color: transparent;
   
}



.input{   
    height: 2.5em;
    background-color: #9aa35f;
    margin-left: 20px;
}

.input::placeholder{   
   
    color:   #611b13 
}

.agregar{
       display: flex;
       align-items: center;
      
      }
